.App {
  text-align: center;
}

.app-header {
  color: #353b4f;
}

.app-inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 18px;
}

.app-input {
  margin-left: 10px;
  color: #00abbe;
}
